*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;

}

body{
  display:grid;
  grid-template-columns: 100%;
}

.top-section{
  height: auto;
  background-color: #CA2E96;
  font-weight: 300;
  color: #fff;
  font-family: Open Sans, sans-serif;
  padding-top: 15px;

}

  .top-section .navs{
    text-align: right;
  }

  .top-section .top-section-greeting{
    text-align:center;
  }
  .top-section .navs a {
    font-size: 1.2em;
    color: #fff;
    margin: 25px;
    letter-spacing: 1px;
  }
    .top-section .navs a img {
      height:40px;
      width:40px;
    }

  .top-section .welcome{
    margin-top:100px;
    width: 100%;
  }
    .top-section h1{
      font-family: 'Pacifico', cursive;
      font-size: 2.9em;
      letter-spacing: 3px;
    }
    .top-section small{
      font-family: 'Pacifico', cursive;
      font-size: 0.9em;
      letter-spacing: 3px;
    }
    .top-section .tech-tools{
      margin-top: 140px;
      padding-bottom: 1px;
      width: 100%;
    }
      .top-section .tech-tools-item{
        visibility:hidden;
        margin: 14px;
        height: 97px;
        width: 110px;
      }
      @keyframes rotateAnimation{
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .react-logo{
        animation: rotateAnimation 15s infinite linear;
      }

.project-section {
  display:grid;
  width: 100%;
  grid-gap: 15px;
  grid-template-columns: auto auto auto auto;
  margin-top: 70px;
  text-align:center;
  visibility:hidden;
}

  .project-section .project-item{
    width: 100%;
  }
  .project-section .project-item h2{
    margin: 5px;
    font-size: 3.5em;

  }

  .project-section .project-item h2.placard{
      color: #20b2aa;
      font-family: 'Bangers', cursive;
  }
  .project-section .project-item h2.palbox{
      color: #DC143C;
      font-family: 'Caveat Brush', cursive;
  }
  .project-section .project-item h2.employr{
    color: #4682B4;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: -5px;
  }
  .project-section .project-item h2.einam{
    font-family: 'Lobster', cursive;
  }

  .project-section .project-item h2 span img{
    height: 41px;
    width:60px;
  }
  .project-section .project-item p{
    color: #2F4F4F;
  }
  .project-section .project-item img.project-thumbnail{
    height: 280px;
    width: 350px;
  }
  .project-section .project-item a.project-item-visit{
    background-color: #CA2E96;
    color: #fff;
    display:inline-block;
    width:150px;
    height: 30px;
    text-align: center;
    margin-top: 15px;
    padding-top: 5px;
  }


.footer-section {
    color: #fff;
    width: 100%;
    margin-top: 40px;
    padding-top: 10px;
    background: #2F4F4F;
    text-align: center;
    height: 90px;
    visibility:hidden;
}
  .footer-section a {
    color: inherit;
  }
  .footer-section p{
    padding: 3px;
  }
  .footer-section p span.github-page{
    border: 1px solid white;
    padding:5px;
  }


  @media only screen and (max-width: 1500px) {
    .project-section {
      width: 100%;
      grid-gap: 2px;
      grid-template-columns: auto auto;
      margin-top: 20px;
      text-align:center;
    }
  }

  @media only screen and (max-width: 820px) {
    .project-section {
      width: 100%;
      grid-gap: 2px;
      grid-template-columns: auto;
      margin-top: 70px;
      text-align:center;
    }
  }

  @media only screen and (max-width: 581px) {
    .top-section .navs{
      font-size: 0.5em;
      text-align: center;
    }
    .top-section .tech-tools-item{
      visibility:hidden;
      margin: 2px;
      height: 60px;
      width: auto;
    }
    .project-section {
      grid-row-gap: 100px;
    }
    .project-section .project-item a.project-item-visit{
      width:100%;
    }
  }
